<div>
  <header class="mb-12 flex justify-between items-center">
    <div class="flex-1">
      <h1 class="text-3xl font-bold mb-4">Travel Packages</h1>
      <p class="max-w-[70%]">
        Do you want to enjoy a long weekend in Iceland, drive around the island in seven days,
        or perhaps stray a bit off the beaten path while you're at it? In any case,
        here we got some travel packages for you.
      </p>
    </div>
    <div class="flex justify-end">
      <button *appHasPermission="'ADMIN'" (click)="openCreateModal()" type="button" class="btn btn-icon btn-success">
        <mat-icon>add</mat-icon>
        New Register
      </button>
    </div>
  </header>

  <div *ngIf="loading" class="flex items-center gap-3">
    <mat-spinner [diameter]="30"></mat-spinner>
    <span class="text-sm">Loading...</span>
  </div>

  <section class="mx-auto grid grid-cols-1 lg:grid-cols-3 md:grid-cols-2 justify-items-center justify-center gap-y-20 gap-x-14 mt-10 mb-5">
    <div *ngFor="let travelPackage of travelPackages" class="w-80 bg-white shadow-md rounded-md duration-500 hover:scale-105 hover:shadow-xl flex">
      <div class="h-full cursor-pointer">
        <div (click)="openDetailsPage(travelPackage.id!)">
          <img *ngIf="travelPackage.imageUrl; else noPicture" src="{{travelPackage.imageUrl}}" alt="Landscape" class="h-60 w-80 object-cover rounded-t-md" />
          <ng-template #noPicture>
            <svg class="pt-6 h-60 w-80 object-cover rounded-t-md dark:text-stone-200" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 18">
              <path d="M18 0H2a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2Zm-5.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm4.376 10.481A1 1 0 0 1 16 15H4a1 1 0 0 1-.895-1.447l3.5-7A1 1 0 0 1 7.468 6a.965.965 0 0 1 .9.5l2.775 4.757 1.546-1.887a1 1 0 0 1 1.618.1l2.541 4a1 1 0 0 1 .028 1.011Z" />
            </svg>
          </ng-template>
          <div class="p-4 w-80 flex flex-col">
            <span class="text-stone-500 text-xs truncate">{{travelPackage.destination.city}} - {{travelPackage.destination.region}}</span>
            <h2 class="text-lg font-bold truncate block capitalize my-3">{{travelPackage.name}}</h2>
            <div class="flex items-center my-4 text-stone-500">
              <mat-icon>calendar_month</mat-icon>
              <p class="text-sm text-stone-600 cursor-auto ml-2">{{travelPackage.startDate | date}} - {{travelPackage.endDate | date}}</p>
            </div>
          </div>
        </div>
        <div *appHasPermission="'ADMIN'" class="flex justify-center gap-4 z-40 mb-6">
          <button (click)="openEditModal(travelPackage)" type="button" class="btn btn-icon btn-success">
            <mat-icon>edit</mat-icon>
            Update
          </button>
          <button (click)="deleteTravelPackage(travelPackage.id!)" type="button" class="btn btn-icon btn-danger">
            <mat-icon>delete</mat-icon>
            Delete
          </button>
        </div>
      </div>
    </div>
  </section>

  <app-no-data-found *ngIf="travelPackages.length < 1"></app-no-data-found>
</div>