<main class="h-screen overflow-hidden">
  <div class="content">
    <section class="page-section bg-image">
      <div class="page-content w-full h-[90%] flex flex-col justify-between items-start">
        <div class="py-36 text-center w-full">
          <h1 class="text-5xl md:text-8xl tracking-wider uppercase my-4 text-stone-700 text-center">Iceland</h1>
          <p class="hidden md:block py-4 leading-6 text-stone-600 text-center">
            Experience the ultimate wellness retreat for your mind, body, and soul <br> amidst the breathtaking landscapes of Iceland.
          </p>
        </div>
        <div class="scrolldown">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </section>
    <section class="page-section h-full">
      <div class="page-content h-full flex flex-col justify-center lg:flex-row lg:items-center">
        <div class="lg:w-1/2">
          <h2 class="text-4xl lg:text-6xl mb-8 text-stone-900">Discover Your Next Adventure</h2>
          <p class="flex-wrap lg:pr-10 text-stone-800">
            Can you travel around Iceland in 14 days? Yes, you can. By far the most popular mode of exploring Iceland
            is to drive along the Ring Road and wake up with a different view every morning. How an itinerary like this
            could look like? We give you an idea!
          </p>
          <button type="button" class="text-stone-900 hover:text-white border border-stone-800 hover:bg-stone-900 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-sm px-8 py-2.5 text-center mt-8">
            Book Now
          </button>
        </div>
        <div class="mt-10 lg:w-1/2">
          <div class="flex flex-row gap-3 items-stretch lg:min-w-[700px] h-[250px] overflow-hidden">
            <div *ngFor="let card of cards" class="bg-slate-800 relative min-w-[4rem] duration-300 rounded-sm overflow-hidden cursor-pointer" [ngClass]="openedCard == card.id ? 'flex-grow min-w-64' : 'hidden lg:flex'" (click)="openCard(card.id)">
              <img src="{{card.image}}" alt="image" class="opacity-70 absolute offset-0 object-cover object-center rounded-sm h-full w-full z-0 transition-all duration-300 hover:scale-110">
              <div class="absolute bottom-3 left-3">
                <div class="pl-2 mb-2 text-white text-lg" [ngClass]="openedCard != card.id ? 'hidden' : ''">
                  <div class="font-extrabold">{{card.place}}</div>
                  <div class="font-bold">{{card.title}}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="flex items-center mx-3 mt-4 gap-4">
            <div class="flex gap-2">
              <button (click)="openCard(openedCard - 1)" class="flex items-center justify-center w-10 h-10 text-stone-800 border border-stone-800 rounded-full">
                <svg class="w-2.5 h-2.5 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M5 1 1 5l4 4" />
                </svg>
              </button>
              <button (click)="openCard(openedCard + 1)" class="flex items-center justify-center w-10 h-10 text-stone-800 border border-stone-800 rounded-full">
                <svg class="w-2.5 h-2.5 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="m1 9 4-4-4-4" />
                </svg>
              </button>
            </div>
            <div class="w-full bg-stone-300 rounded-sm h-1 my-6">
              <div class="bg-stone-700 h-1 rounded-sm duration-300" [style.width.%]="getProgressBar()"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <app-navbar></app-navbar>
</main>