section {
  @apply h-screen relative;
}

.bg-image {
  @apply bg-no-repeat bg-cover bg-fixed;
  background-image: url('../../../../../public/assets/home-bg.jpeg');
}

.page-content {
  position: absolute;
  opacity: 0;
  transform: translateY(100px);
  transition: all 0.5s 0.5s;
  padding: 0 10%;
}

.page-content.show {
  opacity: 1;
  transform: translateY(0);
}

.scrolldown {
  transform: translate(-50%, -50%);
}

.scrolldown span {
  display: block;
  width: 20px;
  height: 20px;
  border-bottom: 3px solid white;
  border-right: 3px solid white;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}

.scrolldown span:nth-child(2) {
  animation-delay: -0.2s;
}

.scrolldown span:nth-child(3) {
  animation-delay: -0.4s;
}

@keyframes animate {

  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}