<footer class="bg-stone-100">
  <div class="container py-10 text-stone-900 flex flex-col sm:flex-row gap-5 justify-between">
    <div class="sm:w-4/12">
      <h3 class="font-bold text-xl text-stone-800 mb-4">Northern Wonders</h3>
      <p class="text-stone-700 text-sm mb-5 leading-6">
        From the magic of the Northern Lights to powerful waterfalls and volcanoes, we create 
        unique adventures that connect you with the untamed beauty of this extraordinary destination.
      </p>
    </div>
    <div class="sm:w-5/12 flex flex-col">
      <div class="text-sm uppercase text-stone-800 font-bold mb-5">Recent Blogs</div>
      <div class="flex mb-3">
        <div class="h-20 w-3/12 bg-cover" style="background-image: url('https://i.ibb.co/jHgn7wP/lights.jpg')" title="Woman holding a mug">
        </div>
        <div class="pl-3 w-9/12">
          <div class="font-bold text-sm">Chase the Northern Lights</div>
          <p class="text-stone-700 text-sm">
            Experience nature’s most stunning light show.
          </p>
        </div>
      </div>
      <div class="flex mb-3">
        <div class="h-20 w-3/12 bg-cover" style="background-image: url('https://i.ibb.co/pX5fj2Y/1255358.jpg')" title="Woman holding a mug">
        </div>
        <div class="pl-3 w-9/12">
          <div class="font-bold text-sm">Around Iceland in 14 days</div>
          <p class="text-stone-700 text-sm">
            Two weeks give you the possibility to circle the Island once without having to rush.
          </p>
        </div>
      </div>
    </div>
    <div class="sm:w-3/12">
      <div class="text-sm uppercase text-stone-800 font-bold mb-5">Contact Us</div>
      <p class="text-sm mb-2">603, Hafnarstraeti 60, Akureyri</p>
      <p class="text-sm font-semibold">contact&#64;northernwonders.com</p>
      <div class="flex-row flex gap-3 mt-6">
        <img src="/assets/icons/instagram.svg" alt="Instagram" class="w-5">
        <img src="/assets/icons/facebook.svg" alt="Facebook" class="w-5">
        <img src="/assets/icons/twitter.svg" alt="X" class="w-5">
      </div>
    </div>
  </div>
  <div class="flex py-5 m-auto text-stone-800 text-sm flex-col items-center border-t max-w-screen-xl">
    <p>© Copyright 2024. All Rights Reserved.</p>
  </div>
</footer>